pkgbase = pandoc-bin
	pkgdesc = Pandoc - executable only, without 750MB Haskell depends/makedepends
	pkgver = 2.11.3.2
	pkgrel = 1
	url = http://pandoc.org
	arch = x86_64
	license = GPL
	optdepends = texlive-core: for pdf output
	provides = pandoc
	conflicts = pandoc
	replaces = pandoc-static
	replaces = pandoc-lite
	source = pandoc-bin-bin-2.11.3.2.tar.gz::https://github.com/jgm/pandoc/releases/download/2.11.3.2/pandoc-2.11.3.2-linux-amd64.tar.gz
	source = pandoc-bin-source-2.11.3.2.tar.gz::https://github.com/jgm/pandoc/archive/2.11.3.2.tar.gz
	sha256sums = 422c1f38b4731edfafcc0f8011a8dc46ce3a84e61b896ef15e3a23e0a9b453d6
	sha256sums = ae94cf890c5c778c8866dfc885a1b7bfdbd0fd9bf229fcc1202f929a9d30d4d7

pkgname = pandoc-bin

